/* pos/css/checkout.css */


*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial,sans-serif;

}





body{

background:#f5f5f5;

color:#333;

}








/* HEADER */


.checkout-header{


height:70px;

background:#004c99;

color:white;

display:flex;

align-items:center;

gap:20px;

padding:10px 15px;


}







.checkout-header button{


width:42px;

height:42px;

border:none;

border-radius:50%;

background:white;

color:#003366;

font-size:22px;

cursor:pointer;


}







.checkout-header h2{


font-size:28px;


}









/* CONTAINER */


.checkout-container{


max-width:700px;

margin:auto;

padding:20px;


}







.checkout-container h1,

.checkout-container h2{


margin:20px 0;

color:#003366;


}









/* BOX */


.checkout-box{


background:white;

padding:20px;

border-radius:12px;

box-shadow:0 3px 10px rgba(

0,

0,

0,

0.15

);


}








.checkout-box input{


width:100%;

height:45px;

padding:10px;

margin-bottom:15px;

border:1px solid #ccc;

border-radius:8px;

font-size:16px;


}









/* BUTTON GROUP */


.order-type,

.payment-method{


display:flex;

gap:15px;

flex-wrap:wrap;


}







.order-type button,

.payment-method button{


flex:1;

min-width:150px;

height:50px;

border:none;

border-radius:10px;

background:#0066cc;

color:white;

font-size:17px;

cursor:pointer;


}







.order-type button.active,

.payment-method button.active{


background:#008000;


}









/* SUMMARY */


#checkoutItems{


background:white;

padding:15px;

border-radius:12px;

box-shadow:0 3px 10px rgba(

0,

0,

0,

0.15

);


}








.checkout-item{


display:flex;

justify-content:space-between;

padding:10px 0;

border-bottom:1px solid #ddd;


}








.checkout-total{


margin-top:20px;

background:white;

padding:20px;

border-radius:12px;

font-size:25px;

font-weight:bold;

text-align:center;


}








#placeOrderBtn{


margin-top:25px;

width:100%;

height:55px;

background:#008000;

color:white;

border:none;

border-radius:10px;

font-size:20px;

cursor:pointer;


}








#placeOrderBtn:hover{


background:#006600;


}









@media(max-width:600px){



.order-type,

.payment-method{


flex-direction:column;


}




}
