body{

margin:0;
font-family:Arial, sans-serif;
background:#f2f5f7;

}


.header{

display:flex;
justify-content:space-between;
align-items:center;

background:#0b4f8a;
color:white;

padding:15px;

}


.brand h1{

margin:0;

}


.user-info p{

margin:5px;

}


button{

padding:10px 15px;
border:none;
border-radius:5px;
cursor:pointer;

font-weight:bold;

}


.attendance button{

background:#28a745;
color:white;

}


.controls button{

background:white;
color:#0b4f8a;

}





.station-area{

padding:20px;
background:white;

}


.station-area select{

padding:10px;
font-size:16px;

}







.status-area{

display:flex;
gap:10px;
padding:20px;

}


.status-area button{

background:#555;
color:white;

}


.status-area .active{

background:#007bff;

}






.orders-container{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(300px,1fr));

gap:20px;

padding:20px;

}






.order-card{

background:white;

border-radius:10px;

padding:20px;

box-shadow:0 3px 10px #ccc;


}


.order-card h3{

color:#0b4f8a;

}



.item{

padding:8px;

border-bottom:1px solid #ddd;

}



.ready{

background:#28a745;
color:white;

}


.complete{

background:#dc3545;
color:white;

}
