/* pos/css/settings.css */



.settings-card{


    background:white;

    padding:25px;

    margin-bottom:25px;

    border-radius:12px;

    box-shadow:0 3px 10px rgba(

        0,

        0,

        0,

        0.15

    );


}







.settings-card h3{


    color:#0066cc;

    margin-bottom:15px;


}








.settings-card select{


    width:100%;

    height:45px;

    padding:10px;

    margin-bottom:15px;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:16px;


}







.settings-card input{


    width:100%;

    height:45px;

    padding:10px;

    border:1px solid #ccc;

    border-radius:8px;


}








#saveLanguageBtn{


    background:#008000;

    color:white;

    border:none;

    padding:12px 25px;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;


}







#saveLanguageBtn:hover{


    background:#006600;


}








.settings-card p{


    margin-top:10px;

    color:#777;


}








@media(max-width:700px){



.settings-card{


    padding:15px;


}



}
